* {
    margin:0; 
    padding:0;
    color: white;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .flightButton {
    border-radius: 15px 30px 30px;
    background-color: black;
    height: 40px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
  }